@use "palette";

@mixin two-tone {
    font-family: quincy-cf, serif;
    font-weight: 800;
    font-style: none;
    color: palette.$primary-color;

    &--accent-color {
        color: palette.$accent-color;
    }

    &--wine-color {
        color: palette.$tint-dark;
    }
}
