@use "palette";

@mixin two-tone {
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    color: palette.$primary-color;

    &--accent-color {
        color: palette.$accent-color;
    }
}
