@use "palette";

@mixin two-tone {
    font-family: quincy-cf, serif;
    font-weight: 800;
    font-style: none;
    color: palette.$primary-color;
    font-size: 75px;
    line-height: 0.9em;

    &--accent-color {
        color: palette.$accent-color;
    }
}
