@use "./../partials/devices";

.contact-top {
    @include devices.tablet {
        flex-direction: column;
    }

    @include devices.laptop {
        flex-direction: row;
        height: 67vh;
        overflow-y: hidden;
    }

    &__left-div {
        @include devices.tablet {
            width: 100%;
        }

        @include devices.laptop {
            width: 60%;
        }
    }

    &__container {
        @include devices.phone {
            height: 60vh;
            overflow: clip;
        }

        @include devices.large-phone {
            height: 60vh;
            width: 87vw;
            overflow: clip;
        }

        @include devices.laptop {
            height: 60rem;
            width: 45rem;
        }
    }

    &__img {
        margin-top: -5rem;

        @include devices.phone {
            margin-left: -12rem;
        }

        @include devices.large-phone {
            margin-left: -12rem;
        }

        @include devices.laptop {
            margin-left: -7rem;
        }
    }

    &__right-div {
        margin-top: 3rem;

        & button {
            margin-bottom: 1rem;
        }

        @include devices.tablet {
            width: 100%;
        }

        @include devices.laptop {
            width: 30%;
        }
    }

    &__para {
        margin-bottom: 2rem;
    }
}
