@use "./../partials/palette";
@use "./../partials/devices";

header {
    align-items: center;
    width: 100%;
    position: fixed;

    @include devices.phone {
        display: block;
        padding-bottom: 1.875rem;
        background-image: linear-gradient(
            palette.$lightest 90%,
            palette.$opaque
        );
    }

    @include devices.large-phone {
        display: block;
        padding-bottom: 1.875rem;
        background-image: linear-gradient(
            palette.$lightest 90%,
            palette.$opaque
        );
    }

    @include devices.tablet {
        display: flex;
        justify-content: space-between;
        height: 9%;
        background-image: linear-gradient(palette.$lightest, palette.$opaque);
    }

    @include devices.laptop {
        display: flex;
        justify-content: space-between;
        height: 13%;
        background-image: linear-gradient(palette.$lightest, palette.$opaque);
    }
}

// logo is left aligned, unless on small screen which it is centered
.logo {
    width: 3.75rem;

    @include devices.phone {
        margin: 1.25rem;
        height: 3.75rem;
    }

    @include devices.large-phone {
        margin: 1.25rem;
        height: 3.75rem;
    }

    @include devices.tablet {
        margin: 0;
        margin-left: 0.75rem;
        height: 3.75rem;
    }

    &__link {
        display: inline-block;
        width: 100%;
        height: 3.75rem;
    }
}

// navigation items should take up one third of the viewport, unless on small screen
.nav {
    @include devices.phone {
        width: 100%;
    }

    @include devices.large-phone {
        width: 100%;
    }

    @include devices.tablet {
        width: calc(100% / 12 * 6);
        height: 100%;
        margin-right: 1.25rem;
    }

    @include devices.laptop {
        width: calc(100% / 12 * 4);
        height: 100%;
        margin-right: 1.25rem;
    }

    @include devices.desktop {
        width: calc(100% / 12 * 3);
        height: 100%;
        margin-right: 1.25rem;
    }

    li {
        width: calc(100% / 3);
        text-align: center;
        box-sizing: border-box;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        height: 100%;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        padding: 5%;
        border-bottom: 2px solid transparent;
        transition: 0.2s;
        color: palette.$primary-color;

        &:link {
            text-decoration: none;
            color: palette.$primary-color;
            transition: 0.2s;
        }

        @include devices.laptop {
            &:visited {
                color: palette.$primary-color;
            }

            &:hover {
                border-bottom: 2px solid palette.$accent-color;
                color: palette.$accent-color;
            }

            &:active {
                color: palette.$accent-color;
            }
        }
    }
}

// When the user is on a specific page
#currentPage {
    border-bottom: 2px solid palette.$accent-color;
    color: palette.$accent-color;
    padding: 5%;
}
