@use "./../partials/devices";

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}

main {
    margin: 0 auto;

    @include devices.phone {
        width: 95%;
    }

    @include devices.large-phone {
        width: 95%;
    }

    @include devices.tablet {
        width: 87%;
    }

    @include devices.laptop {
        width: 90%;
    }
}

footer {
    margin-bottom: 1.25rem;
}
