@use "./../partials/palette";
@use "./../partials/headings";
@use "./../partials/devices";

:root {
    font-size: 16px;
}

* {
    font-family: interstate-mono, monospace;
    font-weight: 300;
    font-style: normal;
}

p,
li {
    color: palette.$accent-color;

    @include devices.phone {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    @include devices.large-phone {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    @include devices.laptop {
        font-size: 1.375rem;
        line-height: 2rem;
    }
}

a {
    text-decoration: none;
}

.nav li {
    font-size: 1.125rem;
}

// the main headings for each page (i.e., h1)
.topheading {
    font-family: quincy-cf, serif;
    font-weight: 800;
    font-style: normal;
    color: palette.$primary-color;

    @include devices.phone {
        font-size: 4rem;
        line-height: 3.8rem;
    }

    @include devices.large-phone {
        font-size: 4.8rem;
        line-height: 4.2rem;
    }

    @include devices.tablet {
        font-size: 7rem;
        line-height: 6.5rem;
    }

    @include devices.laptop {
        font-size: 9.4rem;
        line-height: 9rem;
    }
}

// The description text for each page will be in red
.top__para {
    color: palette.$primary-color;

    @include devices.phone {
        max-width: 90vw;
    }

    @include devices.large-phone {
        max-width: 90vw;
    }

    @include devices.laptop {
        max-width: 40vw;
    }
}

.top__list li {
    color: palette.$primary-color;
}

// Subsequent headings on the website will be two-tone (if applicable)
.subheading {
    @include headings.two-tone;
    @include devices.phone {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    @include devices.large-phone {
        font-size: 3rem;
        line-height: 2.7rem;
    }

    @include devices.tablet {
        font-size: 3.7rem;
        line-height: 3.4rem;
    }

    @include devices.laptop {
        font-size: 4.7rem;
        line-height: 4.5rem;
    }

    &--bottom-margin {
        margin-bottom: 2rem;
    }
}

// Text in About page
.about {
    &__para {
        margin-bottom: 1.8rem;
    }
}

// Footer text
.footer {
    &__para {
        font-size: 0.85rem;
        line-height: 1.2rem;
        text-align: center;
        color: palette.$tint-light;
    }
}
